@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');

.main {
  font-family: 'Shippori Mincho B1', serif;
}

.card-img-top {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-img-top2 {
  max-height: 200px;
  max-width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contain {
  margin-right: 150px;
  margin-left: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 20px;
}

.btn {
  margin: 5px;
}

.center {
  text-align: center;
  margin-bottom: 10px;
}
